<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{url:"/css/product-details.css"}) %>

  <body>
    <div class="main-container">
      <div class="container-central">

        <%- include('../partials/nav-bar') %>

          <!-- CONTENIDO -->
          <div class="primary-content">
            <div class="content-left">
              <div class="slider">
                <div class="arrow item-absoluto top-140px">
                  <i class="fas fa-chevron-left"></i>
                  <!-- <i class="fa-solid fa-chevron-left"></i> -->
                </div>
                <div class="puntos-pag"></div>
                <div class="arrow item-absoluto top-140px right-0">
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
              <div class="acordeon">
                <div class="acordeon-item gris1">
                  <label class="acordeon-item-title">Descripción</label>
                  <div class="arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                  </div>
                </div>
                <div class="acordeon-item gris2">
                  <label class="acordeon-item-title">Cuidados</label>
                  <div class="arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                  </div>
                </div>
                <div class="acordeon-item gris3">
                  <label class="acordeon-item-title">Detalles</label>
                  <div class="arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-right">
              <div class="top-buttons">
                <button class="top-buttons-btns">
                  <i class="fa-solid fa-user"></i>
                </button>
                <button class="top-buttons-btns">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
                <div class="counter-products">2</div>
              </div>
              <div class="article-info">
                <div class="article-info-primmary">
                  <div class="article-info-left">
                    <div class="stars">
                      <i class="fa-solid fa-star" style="color: orange"></i>
                      <i class="fa-solid fa-star" style="color: orange"></i>
                      <i class="fa-solid fa-star" style="color: orange"></i>
                      <i class="fa-solid fa-star" style="color: orange"></i>
                      <i class="fa-regular fa-star" style="color: orange"></i>
                    </div>
                    <div class="article-name">CHAQUETA</div>
                    <div class="article-price">$59.999</div>
                  </div>
                  <div class="article-info-right">
                    <div class="promo">Envío gratis</div>
                  </div>
                </div>
                <div class="colores-producto">
                  <label>Colores</label>
                  <div class="color color1"></div>
                  <div class="color color2"></div>
                  <div class="color color3"></div>
                  <div class="color color4"></div>
                </div>
                <div class="article-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                  repellendus quia nostrum porro unde officia aliquid, laborum
                  soluta enim sint recusandae neque fugiat nemo, reiciendis id
                  aut. Fugit, eum ea!
                </div>
                <div class="tallas-box">
                  <div class="tallas-title">Tallas</div>
                  <div class="tallas-items">
                    <div class="talla-item"></div>
                    <div class="talla-item"></div>
                    <div class="talla-item"></div>
                    <div class="talla-item"></div>
                    <div class="talla-item"></div>
                    <div class="talla-item"></div>
                    <div class="talla-item"></div>
                  </div>
                  <div class="tallas-title">Guia de tallas</div>
                  <button class="registrarse-button">
                    REGÍSTRATE GRATIS <i class="fa-solid fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <%- include('../partials/footer') %>
      </div>
    </div>
  </body>

</html>