<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{url:"/css/product-details.css"}) %>

  <body>
    <div class="main-container">
      <div class="container-central">

        <%- include('../partials/nav-bar') %>

        <main>
          <div class="container-full">
              <div class="contenedor-izq">
                  <img src="/images/ropa-deportiva/mancuerna-encauchetada-sportfitness.jpg" class="img-mancuerna">
              </div>
              <div class="container-marcador">
                  <p class="marcador">1 / 2</p>
              </div>
              <div class="contenedor-der">
                  <img src="/images/ropa-deportiva/mancuerna-encauchetada-sportfitness.jpg" class="img-mancuerna2">
                  <img src="/images/ropa-deportiva/mancuerna-encauchetada-sportfitness-2_540x.jpg" class="img-mancuerna2">
              </div>
              <div class="container-nav">
                  <div>
                      <nav class="nav-product">
                          <a href="/">Inicio</a>
                          <span>/</span>
                          <a href="/">Mancuernas y Pesas</a>
                      </nav>
                      <p class="nombre-product">Mancuerna Encauchetada</p>
                  </div>
                  <div class="stars">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                      <span class="reseña"> 162 reseñas</span>
                  </div>
              
                  <div class="inf-product">
                  <div class="precio-product">
                      <span>$15.600</span>
                  </div>
                  
                  <button type="submit" name="agregar" class="boton-carrito">
                      <span>
                        AGREGAR AL CARRITO
                      </span>
                  </button>
                  
                  <div class="detalle">
                      <h3>Mancuerna Encauchetada</h3>
                      <span>Mancuernas Sportfitness ideales para ejercicios de fuerza. Variedad de pesos que se ajustan a tu nivel de entrenamiento. Las pesas Sportfitness encauchadas tienen recubrimiento que protegen las superficies.</span>
                      <ul>
                          <li>Material: Hierro fundido y caucho inyectado, eje acerado cromado.</li>
                          <li>Se vende por unidad</li>
                          <li>Peso: 2KG/ 5KG/ 7.5KG/ 10KG/ 12.5KG/ 15KG/ 17.5KG/ 20KG/ 22.5KG/ 25KG/ 30KG/ 35KG/ 40KG/ 45KG/ 50KG</li>
                      </ul>
                  </div>
                  </div>
              </div>
              <div class="productos-relacionados">
                  <div>
                      <h3>Productos Relacionados</h3>
                  </div>
                  <div class="cont-img-relacionados">
                      <article>    
                          <img src="/images/ropa-deportiva/rusa.jpeg" class="img-product-relacionados">
                          <div class="precio">
                              <p>$16.000</p>
                              <p>Pesa Rusa</p>
                          </div>
                      </article>
                      <article>
                          <img src="/images/ropa-deportiva/saco-de-boxeo-23-kg-sportfitness.jpg" class="img-product-relacionados">
                          <div class="precio">
                              <p>$165.000</p>
                              <p>Saco de Boxeo</p>
                          </div>
                      </article>
                      <article>
                          <img src="/images/ropa-deportiva/bascula.jpeg" class="img-product-relacionados">
                          <div class="precio">
                              <p>$68.000</p>
                              <p>Bascula</p>
                          </div>
                      </article>
                          <article>
                          <img src="/images/ropa-deportiva/mancuernas.jpeg" class="img-product-relacionados">
                          <div class="precio">
                              <p>$12.300</p>
                              <p>Mancuernas</p>
                          </div>
                      </article>
                  </div>
              </div>
          </div>
  
      </main>

          <%- include('../partials/footer') %>
      </div>
    </div>
  </body>

</html>