<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaySport</title>

    <!--Normalize css-->
    <link rel="stylesheet" href="/css/Normalize.css">

    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!--tipografias-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <!--conexion css-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common-styles.css">

</head>

<body>
    <header>
        <h4>Mensajes publicitarios</h4>
        <div class="bar">
            <i class="fas fa-bars"></i>
            <div class="logo">
                <h2 class="play">Play</h2>
                <a href="/">
                    <img src="images/logo-banner/logo-trs.png" alt="">
                </a>
                <h2 class="sport">Sport</h2>
            </div>
            <div class="ocultar">
                <ul class="decoracion">
                    <li><a href="/DEPORTES">DEPORTES</a></li>
                    <li><a href="/MUJER">MUJER</a></li>
                    <li><a href="/HOMBRE">HOMBRE</a></li>
                    <li><a href="/NIÑO">NIÑO</a></li>
                </ul>
            </div>
            <div class="contenedor-lupa">
                <input class="buscador" placeholder="Buscar productos, marcas y más">
                <button class="boton" type="submit">
                    <div id="lupita"><i class="fas fa-search"></i></div>
                </button>
            </div>
            <div class="icono">
                <a href="/register"><i class="fas fa-id-card"></i></a>
                <a href="/login"><i class="fas fa-user"></i></a>
                <a href="/product-car"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
    </header>
    <main>

        <div class="banner">
            <img class="img" src="images/logo-banner/banner.png" alt="">
            <div class="informacion">
                <form action="/DEPORTES" method="post">
                    <button type="submit">Compra ahora</button>
                </form>
            </div>
        </div>

        <div class="subir">
            <h2>Productos Destacadas</h2>
        </div>
        <section class="productsWrapper">

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/conj-dep-gris.jpg" alt="products Set Body Pump">
                <p>Sudadera deportiva</p>
                <p>$119.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="images/ropa-deportiva/bascula.jpeg" alt="products bascula">
                <p>Bascula Digital</p>
                <p>$68.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="images/ropa-deportiva/colchoneta-yoga.jpg" alt="products colchoneta-yoga">
                <p>Mat de Yoga Doble Fax</p>
                <p>$72.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/mancuerna-encauchetada-sportfitness.jpg"
                    alt="products mancuerna-encauchetada">
                <p>Mancuerna Encauchetada</p>
                <p>Desde $125.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/saco-de-boxeo-23-kg-sportfitness.jpg"
                    alt="products saco-de-boxeo">
                <p>Saco de Boxeo 23 KG</p>
                <p>$376.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/set-body-pump-sportfitness.jpg"
                    alt="products Set Body Pump">
                <p>Set body pump</p>
                <p>$450.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/colchoneta.jpg" alt="products Set Body Pump">
                <p>Colchoneta</p>
                <p>$90.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/steps-aerobicos-sportfitness.jpg"
                    alt="products Set Body Pump">
                <p>Step aerobico</p>
                <p>$120.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="/images/ropa-deportiva/conjunto.png" alt="products Set Body Pump">
                <p>Sudadera deportiva</p>
                <p>$130.000</p>
            </article>

            <article class="products">
                <img class="imgProducts" src="images/ropa-deportiva/bandas.png" alt="products bandas">
                <p>Set de Bandas Elasticas x5</p>
                <p>$32.000</p>
            </article>

        </section>
        <section class="bannerFoot">
            <img class="imgFoot" src="images/logo-banner/bannerHomeFoot.png" alt="">
        </section>

        <section class="moreInfo">
            <article class="infoWrapper">
                <i class="fas fa-biking"></i>
                <p class="infoTitle">Más de 60 deportes</p>
                <p> Encuentra más de 5.000 productos para hacer deporte en un solo lugar</p>
            </article>
            <article class="infoWrapper">
                <i class="fas fa-box-open"></i>
                <p class="infoTitle">Recoge en Tienda</p>
                <p>¡Compra en decathlon.com.co y recoge tu pedido en 2 horas en tu tienda favorita!</p>
            </article>
            <article class="infoWrapper">
                <i class="fas fa-retweet"></i>
                <p class="infoTitle">Cambios y Devoluciones</p>
                <p>Tienes 30 días para realizar tus cambios</p>
            </article>
            <article class="infoWrapper">
                <i class="fas fa-truck"></i>
                <p class="infoTitle">Métodos de Entrega</p>
                <p>Conoce nuestros tiempos de entrega para las diferentes ciudades del país</p>
            </article>
        </section>

    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="categorias">
                <h2>Categorias</h2>
                <ul>
                    <li><a href="/DEPORTES">DEPORTES</a></li>
                    <li><a href="/MUJER">MUJER</a></li>
                    <li><a href="/HOMBRE">HOMBRE</a></li>
                    <li><a href="/NIÑO">NIÑO</a></li>
                </ul>
            </div>
            <div class="siguenos">
                <h2 class="texto">Siguenos</h2>
                <div class="redes">
                    <div class="redes-2">
                        <i class="fab fa-github"></i>
                    </div>
                    <br>
                    <div class="redes-2">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <br>
                    <div class="redes-2">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <br>
                    <div class="redes-2">
                        <i class="fab fa-discord"></i>
                    </div>
                    <br>
                    <div class="redes-2">
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="final">
            <p class="copy">© 2022 PlaySport</p>
            <div class="t-p">
                <p> Terminos de uso </p>
                <p> Politica de privacidad </p>
            </div>
        </div>
    </footer>
</body>

</html>