<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaySport</title>
    
    <!--Normalize css-->
    <link rel="stylesheet" href="/css/Normalize.css">

    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <!--tipografias-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <!--conexion css-->
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/common-styles.css">
    
</head>
<body>
        <header>
            <h4>Mensajes publicitarios</h4>
            <div class="bar">
                <i class="fas fa-bars"></i>
                <div class="logo">
                    <h2 class="play">Play</h2>
                    <a href="/">
                        <img  src="images/logo-banner/logo-trs.png" alt="">
                    </a>
                    <h2 class="sport">Sport</h2>
                </div>
                <div class="ocultar"> 
                    <ul class="decoracion">
                        <li><a href="/DEPORTES">DEPORTES</a></li>
                        <li><a href="/MUJER">MUJER</a></li>
                        <li><a href="/HOMBRE">HOMBRE</a></li>
                        <li><a href="/NIÑO">NIÑO</a></li>
                    </ul>
                </div>
                <div class="contenedor-lupa">
                    <input class="buscador" placeholder="Buscar productos, marcas y más">
                    <button class="boton" type="submit">
                        <div id="lupita"><i class="fas fa-search"></i></div>
                    </button>
                </div>
                <div class="icono">
                    <a href="/register"><i class="fas fa-id-card"></i></a>
                    <a href="/login"><i class="fas fa-user"></i></a>
                    <a href="/product-car"><i class="fas fa-shopping-bag"></i></a>
                </div>
            </div>
            </header>
        <main>
            <h2>esto es el main </h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>
        <footer>
            <div class="contenedor-footer">
                <div class="categorias">
                    <h2>Categorias</h2>
                    <ul>
                        <li><a href="/DEPORTES">DEPORTES</a></li>
                        <li><a href="/MUJER">MUJER</a></li>
                        <li><a href="/HOMBRE">HOMBRE</a></li>
                        <li><a href="/NIÑO">NIÑO</a></li>
                    </ul>
                </div>
                <div class="siguenos">
                    <h2 class="texto">Siguenos</h2>
                    <div class="redes">
                        <div class="redes-2">
                            <i class="fab fa-github"></i>
                        </div>
                        <br>
                        <div class="redes-2">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <br>
                        <div class="redes-2">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <br>
                        <div class="redes-2">
                            <i class="fab fa-discord"></i>
                        </div>   
                        <br>
                        <div class="redes-2">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="final">
                <p class="copy">© 2022 PlaySport</p>
                <div class="t-p">
                    <p> Terminos de uso </p>
                    <p> Politica de privacidad </p>
                </div>
            </div>
        </footer>
</body>
</html>