* {
    box-sizing: border-box;
    transition: .2s ease;
  }
  
  :root {
    negro: #000000;
    rosa: #FF007B;
    azul: #01BAEF;
    blanco: #FBFBFF;
    gris: #757575;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #FBFBFF;
    width: 100%;
  }
  
  /*HEADER*/
  header {
    width: 100%;
    max-height: fit-content;
  }
  
  h4 {
    background-color: #000000;
    color: #FBFBFF;
    margin: 0;
    text-align: center;
  }
  
  /* contenedor padre*/

  .bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  /* contenedoer logo*/
  .logo {
    display: flex;
    position: relative;
    bottom:4.5px;
  }
  
  header div img {
    width: 140px;
    padding-bottom: 4px;
  }

  
  /* fin contenedor logo*/
  
  header div i {
    color: #000000;
    font-size: 1.4em;
    padding: 5px;
    margin-top: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .icono {
    display: flex;
    font-size: 1em;
    position: relative;
    bottom: 1px;
    right: 11px;
    max-width: fit-content;
    width: auto;
  }
  
  .contenedor-lupa {
    background-color: #FBFBFF;
    align-self: center;
    display: none;
    max-height: fit-content;
    border-radius: 3px;
    border: solid 1px;
    padding: 0 1rem;
  }
  
  .buscador {
    background-color: #FBFBFF;
    color: #757575;
    font-size: 14px;
    border: solid 1px #FBFBFF;
  
  }
  
  .boton {
    background-color: #FBFBFF;
    border: solid 1px #FBFBFF;
    width: 15%;
  }
  
  div #lupita i {
    background-color: #FBFBFF;
    margin: auto;
    color: #757575;
  }
  
  div #lupita i:hover {
    color: #000000;
  }
  
  header div ul li a {
    text-decoration: none;
    color: black;
    transition: all 400ms;
  }

  header div ul li a:hover{
    color: #FF007B;
  }
  
  .ocultar {
    display: none;
  }
  
  li {
    list-style: none;
    padding-bottom: 7px;
  }

  /*FOOTER*/
  
  footer {
    background-color: #000000;
    width: 100%;
    min-height: 29vh;
  }
  
  .contenedor-footer {
    color: #FBFBFF;
    padding-top: 10px;
    text-align: center;
  }

  .categoria{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .categorias :hover {
    opacity: 100%;
  }
  
  .redes :hover {
    color: #FBFBFF;
    font-size: 1.5em;
  }
  
  .copy {
    color: #FBFBFF;
    font-size: 12px;
    text-align: center;
  }
  
  /*MEDIAS*/
  
  /*TABLET*/
  
  @media (min-width:768px) {
    .logo {
      left: 5%;
      position: relative ;
      top: 0.1px;
    }
  
    .contenedor-lupa {
      display: flex;
      position: relative;
      bottom: 7px;
      left: 50px;
    }
  
    .img {
      width: 100%;
      height: 420px;
    }
  
    .informacion {
      width: 80%;
      left: 11%;
      font-size: 25px;
      bottom: 180px;
    }
  
    header div form button {
      font-size: 20px;
    }
  }
  
  /*ACOMODAR */
  @media (min-width:900px) {
    .bar i{
      visibility: initial;
    }
  
    .texto {
      margin-left: -2.5%;
    }
  }
  
  /*DESTOP*/
  
  @media (min-width:1000px) {
    .logo{
      left: 5px;
    }
    
    .fa-bars{
      visibility: hidden!important;
    }

    .contenedor-lupa{
      border: none;
    }

    /*media*/
    header {
      background-image: url('/images/logo-banner/logo-trs.png');
      background-size: 100%;
      background-position: center;
    }
  
    header div i {
      margin-top: 21px;
    }
  
    .ocultar {
      display: block;
    }
  
    .decoracion {
      display: flex;
      font-weight: bold;
    }
  
    .contenedor-lupa {
      width: 37%;
    }
  
    .buscador {
      width: 120%;
    }
  
    div ul.decoracion li {
      margin: 5%;
    }
  
    /*fin del header*/
  
    /*footer*/
  
    footer div ul li a {
      margin-left: -0.5%;
    }
  
    .texto {
      margin-top: 2.5%;
    }
  
    .redes {
      margin-left: -8%;
    }
  
    .copy {
      opacity: 60%;
      transition: all 400ms;
    }
  
    .t-p {
      opacity: 60%;
      transition: all 400ms;
    }
  
    .copy:hover {
      opacity: 100%;
    }
  
    .t-p:hover {
      opacity: 100%;
    }
  }
  