/*MAIN*/

.banner {
    margin-bottom: 1rem;
}

.img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    /* Webkit */
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* W3C */
}

.informacion {
    position: relative;
    bottom: 100px;
    text-align: center;
    left: 25px;
}

main div h3 {
    background-color: #FBFBFF;
    opacity: 60%;
    border-radius: 15px;
}

main div form button {
    background-color: #01baefe6;
    border-radius: 10px;
    border: #01baefd1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    padding: 5px;
    position: relative;
    top: 100px;
    width: 200px;
}

.subir {
    text-align: center;
    font-weight: bold;
    color: #757575;
}

/*Main products*/

.productsWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem 15rem;
}

.imgProducts {
    width: 200px;
    height: 200px;

}

.products {
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 3rem;
    background: #fff;
    border: 0 solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px 0px #36655e;
    -webkit-transition: all .4s;
    transition: all .4s;
}

/* Footer Banner*/
.bannerFoot {
    display: flex;
    height: 250px;
}

.imgFoot {
    width: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    /* Webkit */
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* W3C */
}

/* More Info*/

.moreInfo {
    display: flex;
    justify-content: center;
}

.infoWrapper {
    border: 1px solid #edeff1;
    padding: 2rem;
    text-align: center;
    height: 250px;
    max-width: 400px;
    width: 400px;
}

.infoWrapper i {
    font-size: 40px;
    color: #01baef;
}

.infoTitle {
    font-weight: bold;
    font-size: 20px;
}

/* Media Celular*/
@media screen and (max-width: 599px) {

    .informacion {
        position: relative;
        bottom: 200px;
        text-align: center;
        left: 0;
    }

    main div form button {
        font-size: 15px;
        height: 40px;
        width: 130px;
    }

    .productsWrapper {
        margin: 0;
    }

    .moreInfo {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .infoWrapper {
        width: auto;
    }
}

/* Media Tablet*/
@media screen and (max-width: 992px) {

    .informacion {
        position: relative;
        bottom: 200px;
        text-align: center;
        left: 0;
    }

    main div form button {
        font-size: 15px;
        height: 40px;
        width: 130px;
    }
    .moreInfo {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .infoWrapper {
        width: 100%;
        max-width: 100%;
    }
}