/*MAIN*/

/*Loader*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #01BAEF;
    border-color: #FF007B transparent #01BAEF transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loader{
    width: 100%;
    height: 100vh;
    background-color: #FBFBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index:10000;
    opacity: 100%;
    transition: all 0.7s ease;
}

.loader2{
    visibility: hidden;
    opacity: 0%;
}
/*Fin loader*/

/*Carousel*/
.carrousel{
    width: 90%;
    max-width: 120em;
    padding: 2em;
    margin: auto;
    margin-top: 10px;
    overflow: hidden;
}

.grande{
    width: 500%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);
}

.imgc{
    width: calc(100% / 4.9 - 2em);
    min-height:10vh;
    max-height: 60vh;
    padding: 1.5em;
    margin: .2em;
    border-radius: 40px;
}


.puntos{
    width: 100%;
    margin: 1em 0 0;
    padding:0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.punto{
    width: 1.3em;
    height: 1.3em;
    margin: 0.3em 0.3em 0;
    border-radius: 15px;
    background: #757575;
    box-shadow:  10px 10px 17px #aaaaaa,
             -10px -10px 17px #ffffff;
}

.punto.activo{
    background-color: #01baef;
}
/*fin de carousel*/

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }

main div h3 {
    background-color: #FBFBFF;
    opacity: 60%;
    border-radius: 15px;
}

main div form button {
    background-color: #01baefe6;
    border-radius: 10px;
    border: #01baefd1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    padding: 5px;
    position: relative;
    top: 100px;
    width: 200px;
}

.subir {
    text-align: center;
    font-weight: bold;
    color: #757575;
}

/*Main products*/

.productsWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3rem 15rem;
}

.imgProducts {
    width: 200px;
    height: 200px;

}

.products {
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 3rem;
    background: #fff;
    border: 0 solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 10px 0px #36655e;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.products:hover{
    box-shadow: 0px 0px 10px 0px #757575;
}

.products:hover p{
    height: 30px;
    margin-top: 15px;
    color: #ff007b;
}

/* Footer Banner*/
.bannerFoot {
    display: flex;
    height: 250px;
    box-shadow: 0 0 5px ;
}

.imgFoot {
    width: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    /* Webkit */
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* W3C */
}

/* More Info*/

.moreInfo {
    display: flex;
    justify-content: center;
}

.infoWrapper {
    border: 1px solid #edeff1;
    padding: 2rem;
    text-align: center;
    height: 250px;
    max-width: 400px;
    width: 400px;
}

.infoWrapper i {
    font-size: 40px;
    color: #01baef;
}

.infoTitle {
    font-weight: bold;
    font-size: 20px;
}

/* Media Celular*/
@media screen and (max-width: 599px) {

    .informacion {
        position: relative;
        bottom: 200px;
        text-align: center;
        left: 0;
    }

    main div form button {
        font-size: 15px;
        height: 40px;
        width: 130px;
    }

    .productsWrapper {
        margin: 0;
    }

    .moreInfo {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .infoWrapper {
        width: auto;
    }
}

/* Media Tablet*/
@media screen and (max-width: 992px) {

    .informacion {
        position: relative;
        bottom: 200px;
        text-align: center;
        left: 0;
    }

    main div form button {
        font-size: 15px;
        height: 40px;
        width: 130px;
    }
    .moreInfo {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .infoWrapper {
        width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1000px){
    .carrousel{
        width: 50%;
    }
}