.login-container {
    padding: 0 30%;
    margin-bottom: 10rem;
    margin-top: 3rem;
}

footer {
    bottom: 0;
}

.btn-register {
    position: relative;
    color: #FBFBFF;
    background-color: #01BAEF;
    border: solid 1px #01BAEF;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
    width: 50%;
}

.btn-register:hover {
    background-color: #FF007B;
    border: solid 1px #FF007B;
    opacity: 100%;
}

.btn-facebook {
    background-color: #0a497b;
    position: relative;
    color: #FBFBFF;
    border: solid 1px #0a497b;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
    width: 50%;
}

.btn-google {
    background-color: #db4a39;
    position: relative;
    color: #FBFBFF;
    border: solid 1px #db4a39;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
    width: 50%;
}

/* Media Celular*/
@media screen and (max-width: 599px) {

    .btn-facebook,
    .btn-google,
    .btn-register {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {

    .btn-facebook,
    .btn-google,
    .btn-register {
        width: 100%;
    }
}