/*MAIN*/
.bord{
    margin: auto;
    width: 90%;
    padding: 1rem;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.bord:hover{
    margin: auto;
    width: 90%;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #01BAEF, #FF007B);
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 90%;
    border-radius: 6px;
  }
  
  .card{
    background-color:#FBFBFF ;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 6px;
  }

.cuestionario {
    text-align: center;
    color: #757575;
    font-weight: bold;
    padding-top: 10px;
    background-color:#FBFBFF;
}

.botones {
    text-align: center;
}

main div form div input {
    color: #757575;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: solid 1px #757575;
    border-radius: 10px;
    margin-bottom: 10px;
    caret-color: #FF007B;
}
main div form div input:hover{
    color: #000000;
    border: solid 1px #01BAEF;
}

.continuar {
    position: relative;
    color: #FBFBFF;
    background-color: #01BAEF;
    border: solid 1px #01BAEF;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
}
.continuar:hover{
    opacity: 100%;
}

.inicio-con-red {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

main form div a {
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    border: solid 1px #FF007B;
    padding: 10px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
    transition: .5s;
}
main form div a:hover{
    border:solid 1px #01BAEF;
}

main div form div label{
    display: flex;
    width: 25px;
    height: 15px;
    cursor: pointer;
    width: 55%;
    color:#757575;
    align-items: center;
    margin: auto;
}

main div form div label input{
    position: absolute;
    transform: scale(0);
}

main div form div label input:checked~.checkbox{
    transform: rotate(30deg);
    width: 12px;
    margin-left: 1px;
    border-color: #FF007B;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    position: relative;
    bottom:5px;
    margin: auto;
}

.checkbox{
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #01BAEF;
    border-radius: 4px;
    transition: all 0.375s;
    position: relative;
    bottom: 2px;
    margin: auto;
}

.registro {
    color: #FBFBFF;
    background-color: #FF007B;
    border: solid 1px #FF007B;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    margin-bottom: 10px;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
}
.registro:hover{
    opacity: 100%;
}

@media (min-width:768px) {

    .inicio-con-red{
        width: 68%;
        margin: auto;
    }

    main div form div label{
        width: 22%;
    }
}

@media (min-width:1000px) {

    .inicio-con-red {
        width: 55%;
        margin: auto;
    }

    main div form div label{
        width: 13%;
    }
}