/* main */

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.products-title {
  font-size: 20px;
  font-weight: 400;
  color: gray;
}

.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: 12% 16%;
}

.product-detail-info {
  border-left: 1px solid grey;
  padding: 15px;
  height: 100%;
}

.product-detail article {
  display: block;
}

.product-detail-title {
  font-weight: 400;
  font-size: 30px;
  margin: 50px 0px 8px 20px;
}

.product-detail-description {
  margin: 3rem 3rem;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.product-detail-price {
  font-size: 22px;
  margin-left: 33%;
}

.small {
  font-size: 1.8em;
  color: #ff007b;
}

.small span {
  text-decoration: line-through;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.actions-list i {
  color: #ff007b;
  font-size: 20px;
  margin-right: 15px;
}

.actions-list p {
  color: gray;
  font-size: 20px;
  margin: 0;
}

.blue-button {
  background-color: #01baefe6;
}

.pink-button {
  background-color: #ff007b;
}

.now-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  min-width: 153px;
}

/* Media Celular*/
@media screen and (max-width: 599px) {
  .product-detail-info {
    border-left: none;
    border-top: 1px solid grey;
  }
}

/* Media Tablet*/
@media screen and (max-width: 992px) {
  .product-detail-info {
    border-left: none;
    border-top: 1px solid grey;
  }
}