.custom {
  height: 38px;
  background-color: transparent !important;
  border: none !important;
}

.custom-container {
  margin-top: 3rem !important;
  margin-bottom: 14rem !important;
}

.image-user {
  width: 80%;
  border-radius: 15px;
}


.btn-register {
  position: relative;
  color: #FBFBFF;
  background-color: #01BAEF;
  border: solid 1px #01BAEF;
  font-size: 20px;
  padding: 10px;
  padding-left: 6.7%;
  padding-right: 6.7%;
  border-radius: 10px;
  opacity: 70%;
  transition: .5s;
  margin-top: 20px;
}

.btn-register:hover {
  background-color: #FF007B;
  border: solid 1px #FF007B;
  opacity: 100%;
}

@media (min-width:1000px) {
  .image-user {
    width: 75%;
  }
}

@media (min-width:1000px) {
  .image-user {
    width: 70%;
  }
}