/* -------------------------- FORMULARIO DE REGISTRO -------------------------- */

.titulo-formulario{
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-weight: bold;
}

.contenedor-formulario{
    display: flex;
    justify-content: space-around;
    padding: 0 4px 15px;
    /* border: solid red 2px; */
}

.formulario-registro{
    display: block;
    /* border: solid red 2px; */
}

.item-formulario{
    padding: 15px;
}

.item-formulario label{
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
}

.item-formulario input{
    min-width: 200px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    height: 25px;
}

.btn-registro{
    display: flex;
    padding-top: 15px;
    /* border: solid red 2px; */
}

.btn-registro input{
    margin: auto;
    background-color: #FF007B;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 40px;
    font-weight: normal;
    border-radius: 7px;
    border: none;
}
