footer {
    position: absolute;
    bottom: 0;
}

.custom {
    height: 38px;
    background-color: transparent !important;
    border: none !important;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-register {
    position: relative;
    color: #FBFBFF;
    background-color: #01BAEF;
    border: solid 1px #01BAEF;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
    margin-top: 20px;
}

.btn-register:hover {
    background-color: #FF007B;
    border: solid 1px #FF007B;
    opacity: 100%;
}

.errorBanner {
    display: flex;
    justify-content: center;
}

.errorBanner>p {
    border: solid 1px;
    padding: 1rem;
    border-radius: 10px;
}

.errorBanner>p>i {
    color: #FF007B;
}

/* Media Celular*/
@media screen and (max-width: 599px) {
    .btn-register {
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    .btn-register {
        width: 30%;
    }
}