.bord{
    margin: auto;
    width: 90%;
    padding: 1rem;
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.bord:hover{
    margin: auto;
    width: 90%;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #01BAEF, #FF007B);
    padding: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 90%;
    border-radius: 6px;
  }
  
  .card{
    background-color:#FBFBFF ;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 6px;
    text-align: center;
  }

.userName {
    display: flex;
    justify-content: space-around;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inputRegister {
    color: #757575;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: solid 1px #757575;
    border-radius: 10px;
    margin-bottom: 10px;
    caret-color: #FF007B;
    margin-top: 10px;
}

.inputRegister:hover{
    color: #000000;
    border: solid 1px #01BAEF;
}

.inputImage{
    border: none;
    padding: 10px;
}

.inputContainer {
    width: 25%;
    margin-top: 1rem;
}

.btn-register {
    position: relative;
    color: #FBFBFF;
    background-color: #01BAEF;
    border: solid 1px #01BAEF;
    font-size: 20px;
    padding: 10px;
    padding-left: 6.7%;
    padding-right: 6.7%;
    border-radius: 10px;
    opacity: 70%;
    transition: .5s;
    margin-top: 20px;
}

.btn-register:hover{
    background-color: #FF007B;
    border: solid 1px #FF007B;
    opacity: 100%;
}

.errorBanner{
    display: flex;
    justify-content: center;
}

.errorBanner > p{
    border: solid 1px;
    padding: 1rem;
    border-radius: 10px;
}

.errorBanner > p > i{
    color: #FF007B;
}

/* Media Celular*/
@media screen and (max-width: 599px) {
    .inputContainer {
        width: 75%;
    }

    .btn-register {
        width: 30%;
    }
}

@media screen and (max-width: 992px) {
    .inputContainer {
        width: 50%;
    }

    .btn-register {
        width: 30%;
    }
}