<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{url:"/css/register.css"}) %>

    <body>
        <%- include('./partials/nav-bar') %>
            <main>
                <div class="contenedor-formulario">
                    <form action="#" method="post" class="formulario-registro">
                        <h2 class="titulo-formulario">Formulario de Registro</h2>
                        <div class="item-formulario">
                            <label for="">Usuario:</label>
                            <input type="text">
                        </div>
                        <div class="item-formulario">
                            <label for="">Email:</label>
                            <input type="email">
                        </div>
                        <div class="item-formulario">
                            <label for="">Contraseña:</label>
                            <input type="password">
                        </div>
                        <div class="item-formulario">
                            <label for="">Confirmar Contraseña:</label>
                            <input type="password">
                        </div>
                        <div class="btn-registro">
                            <input type="submit" value="Registrar">
                        </div>
                    </form>
                </div>

            </main>
            <%- include('./partials/footer') %>
    </body>

</html>