<footer>
    <div class="row contenedor-footer">
        <div class="col">
            <h2>Categorias</h2>
            <div class="d-flex flex-column mt-4">
                <a class="categoria" href="#DEPORTES">DEPORTES</a>
                <a class="categoria" href="#MUJER">MUJER</a>
                <a class="categoria" href="#HOMBRE">HOMBRE</a>
                <a class="categoria" href="#NIÑO">NIÑO</a>
            </div>
        </div>
        <div class="col">
            <h2>Siguenos</h2>
            <div class="d-flex justify-content-center mt-4">
                <div class="redes mx-2">
                    <i class="fab fa-github"></i>
                </div>
                <br>
                <div class="redes mx-2">
                    <i class="fab fa-instagram"></i>
                </div>
                <br>
                <div class="redes mx-2">
                    <i class="fab fa-facebook"></i>
                </div>
                <br>
                <div class="redes mx-2">
                    <i class="fab fa-discord"></i>
                </div>
                <br>
                <div class="redes mx-2">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
            <p class="mt-5"> Politica de privacidad </p>
            <p> Terminos de uso </p>
        </div>
    </div>
    <div class="row">
        <p class="copy">© 2022 PlaySport</p>
    </div>
</footer>