<footer>
    <div class="contenedor-footer">
        <div class="categorias">
            <h2>Categorias</h2>
            <ul>
                <li><a href="/DEPORTES">DEPORTES</a></li>
                <li><a href="/MUJER">MUJER</a></li>
                <li><a href="/HOMBRE">HOMBRE</a></li>
                <li><a href="/NIÑO">NIÑO</a></li>
            </ul>
        </div>
        <div class="siguenos">
            <h2 class="texto">Siguenos</h2>
            <div class="redes">
                <div class="redes-2">
                    <i class="fab fa-github"></i>
                </div>
                <br>
                <div class="redes-2">
                    <i class="fab fa-instagram"></i>
                </div>
                <br>
                <div class="redes-2">
                    <i class="fab fa-facebook"></i>
                </div>
                <br>
                <div class="redes-2">
                    <i class="fab fa-discord"></i>
                </div>
                <br>
                <div class="redes-2">
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="final">
        <p class="copy">© 2022 PlaySport</p>
        <div class="t-p">
            <p> Terminos de uso </p>
            <p> Politica de privacidad </p>
        </div>
    </div>
</footer>