<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaySport</title>
    <link rel="website icon" type:"png" href="images/logo-banner/logo-trs.png">

    <!--Normalize css-->
    <link rel="stylesheet" href="/css/Normalize.css">

    <!--ICONOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!--tipografias-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

    <!--conexion css-->
    <link rel="stylesheet" href=<%= url %>>
    <link rel="stylesheet" href="/css/common-styles.css">

</head>