<header>
    <h4>Mensajes publicitarios</h4>
    <div class="bar">
        <i class="fas fa-bars"></i>
        <div class="logo">
            <h2 class="play">Play</h2>
            <a href="/">
                <img src="images/logo-banner/logo-trs.png" alt="">
            </a>
            <h2 class="sport">Sport</h2>
        </div>
        <div class="ocultar">
            <ul class="decoracion">
                <li><a href="/DEPORTES">DEPORTES</a></li>
                <li><a href="/MUJER">MUJER</a></li>
                <li><a href="/HOMBRE">HOMBRE</a></li>
                <li><a href="/NIÑO">NIÑO</a></li>
            </ul>
        </div>
        <div class="contenedor-lupa">
            <input class="buscador" placeholder="Buscar productos, marcas y más">
            <button class="boton" type="submit">
                <div id="lupita"><i class="fas fa-search"></i></div>
            </button>
        </div>
        <div class="icono">
            <a href="/auth/register"><i class="fas fa-id-card"></i></a>
            <a href="/auth/login"><i class="fas fa-user"></i></a>
            <a href="/cart"><i class="fas fa-shopping-bag"></i></a>
        </div>
    </div>
</header>