<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{url:"/css/register.css"}) %>

    <body>
        <%- include('../partials/nav-bar') %>
            <main>
                <div class="register-container p-5">
                    <form action="/auth/create" method="post" class="formGroup" enctype="multipart/form-data">
                        <h2 class="mb-4">Registro</h2>
                        <div class="form-group">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text custom" id="basic-addon1">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" id="full_name_id" name="name"
                                    required placeholder="Nombres">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text custom" id="basic-addon1">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input type="text" autocomplete="off" class="form-control" id="lastName" name="lastName"
                                    required placeholder="Apellidos">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text custom" id="basic-addon1"><i
                                            class="far fa-envelope"></i></span>
                                </div>
                                <input type="text" autocomplete="off" type="email" class="form-control" id="email"
                                    name="email" required placeholder="Email">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text custom" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                </div>
                                <input autocomplete="off" type="password" class="form-control" id="password"
                                    name="password" required placeholder="Contraseña">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text custom" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                </div>
                                <input autocomplete="off" type="password" class="form-control"
                                    id="passwordRepeat" name="passwordRepeat" r placeholder="Confirmar Contraseña"
                                    equired>
                            </div>
                            <div class="input-group">
                                <label class="input-group-text" for="userImage">Imagen de Perfil</label>
                                <input type="file" class="form-control"  name="userImage" id="userImage">
                            </div>
                        </div>

                        <input type="submit" class="btn-register mt-4" value="Registrar">
                    </form>

                    <% if (typeof errorMessage !=="undefined" ) { %>
                        <div class="errorBanner">
                            <p>
                                <i class="fas fa-exclamation-triangle"></i>
                                <%= errorMessage %>
                            </p>
                        </div>
                        <% } %>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>